*{
    font-family: 'Titillium Web', sans-serif;
}
body{
    background-color: #D1DAD9;
    background-repeat: repeat;
    color: #DD3129;
}
.return-home{
    position: absolute;
}
img.banner{
    max-width: 100%;
    position:static;
    margin:0;
    padding:0;
}
a, a:hover, a:visited{
    color:#fff;
    text-decoration: none;
}
.wrapper{
    max-width: 100%;
    margin: 0 auto;
}
div.articles{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
div.griditem {
    text-align: center;
    width:100%;
}
p.thumbtext{
    color: #DD3129;
    font-size: 2em;
    margin:0 10px 5px 0;
    font-weight: bold;
}
.list-thumb{
    width:95%;
}
div.article-detail{
    display: flex;
    flex-direction: row;
}
p.thumbtext.detailed{
    width: 20%;
}
.detail-image {
    margin-top: 15px;
    width: 33vw;
}
p.detail-info{
    margin: 10px;
}